---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import Servicios from "../components/Servicios.astro";
import Inicio from "../components/Inicio.astro";
import Proyectos from "../components/Proyectos.astro";
import Quienes from "../components/Quienes.astro";
import Footer from "../layouts/Footer.astro";
import Contacto from "../components/Contacto.astro";
import Whatsapp from "../components/Whatsapp.astro";
---

<Layout title="AutoMaTec">
  <main class="px-10 w-full">
    <Navbar />
    <Inicio />
    <Servicios />
    <Proyectos />
    <Quienes />
    <Contacto />
    <Footer />
    <Whatsapp/>
  </main>
</Layout>
