<section id="inicio" class="pt-24 lg:pt-16">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center"
  >
    Bienvenidos a automatización y tecnología
  </h1>
  <div>
    <p class="mb-3 text-gray-700 dark:text-gray-200 text-lg">
      Somos un equipo de profesionales apasionados por la automatización
      industrial y el desarrollo de soluciones tecnológicas innovadoras. Con
      experiencia en programación de PLC, implementación de sistemas SCADA,
      comunicaciones industriales, desarrollo de soluciones mecánicas,
      desarrollo web, aplicaciones y especialización en inteligencia artificial,
      estamos preparados para ofrecer soluciones integrales a los desafíos
      industriales del siglo XXI.
    </p>

    <p class="mb-3 text-gray-700 dark:text-gray-200 text-lg">
      Nos destacamos en la optimización de procesos industriales, el control de
      procesos, el mejoramiento de la calidad y la implementación de
      mantenimiento predictivo. Nuestro enfoque se centra en proporcionar
      soluciones tanto de software como de hardware que permitan a las empresas
      aumentar su eficiencia, reducir costos y mejorar su competitividad en el
      mercado.
    </p>

    <p class="mb-3 text-gray-700 dark:text-gray-200 text-lg">
      Con un profundo conocimiento en diversas áreas de la tecnología industrial
      y un enfoque en la innovación continua, estamos comprometidos a colaborar
      estrechamente con nuestros clientes para identificar y resolver sus
      desafíos más complejos. Ya sea desarrollando sistemas de control
      avanzados, implementando soluciones de inteligencia artificial para
      optimizar procesos o diseñando soluciones mecánicas personalizadas,
      estamos aquí para impulsar el éxito de su empresa en la era digital.
    </p>
  </div>
</section>
