<section>
  <h2
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center"
  >
    Quienes somos
  </h2>
  <div class="flex justify-center gap-2">
    <div
      class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex justify-end px-4 pt-4"></div>
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="../../public/exp1.jpg"
          alt="exp1"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Yesid Farfan
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400"
          >Ingeniero mecátronico</span
        >
        <div class="flex mt-4 md:mt-6 text-gray-700 dark:text-gray-200 flex-wrap p-4">
          <p>Ingeniero mecátronico con énfasis en gestión de proyectos y trabajo colaborativo. Poseo amplios conocimientos en automatización industrial, protocolos de comunicación, Industria 4.0 e Internet de las cosas (IoT).</p>
          <p>Mi pasión radica en solucionar problemas utilizando las herramientas adecuadas de manera transparente. Siempre busco mejorar la vida de mis colaboradores y clientes, con un enfoque centrado en la innovación y la excelencia.</p>
        </div>
      </div>
    </div>
  </div>
</section>
