---

---

<section id="servicios" class="pt-24 lg:pt-16">
  <h2
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center"
  >
    Nuestros Servicios
  </h2>
  <div class="flex flex-wrap mx-auto p-12 justify-center">
    <div class="flex">
      <div
        class="relative flex flex-col items-start m-1 duration-300 ease-in-out delay-150 transform bg-gray-400 shadow-2xl rounded-xl md:w-80 md:-ml-16 md:hover:bg-gray-100 md:hover:z-10 transition-all md:hover:translate-x-16 md:hover:-translate-y-8 p-4 dark:hover:bg-gray-700 "
      >
        <div class="px-6 py-8">
          <h4 class="mt-4 text-2xl font-semibold text-neutral-600 dark:text-neutral-300">
            <span class="">Optimización de Procesos Industriales</span>
          </h4>
          <ul id="lista-servicios" class="list-disc">
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200 ">
              Implementación de sistemas de monitorización en tiempo real para
              identificar cuellos de botella y áreas de mejora. Introducción de
              sistemas de fabricación flexible para adaptarse a la demanda
              cambiante del mercado.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Desarrollo de algoritmos de optimización para maximizar la
              eficiencia en la producción. Introducción de sistemas de
              fabricación flexible para adaptarse a la demanda cambiante del
              mercado.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Introducción de sistemas de fabricación flexible para adaptarse a
              la demanda cambiante del mercado.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex ">
      <div
        class="relative flex flex-col items-start m-1 duration-300 ease-in-out delay-150 transform bg-gray-400 shadow-2xl rounded-xl md:w-80 md:-ml-16 md:hover:bg-gray-100 md:hover:z-10 transition-all md:hover:translate-x-16 md:hover:-translate-y-8 p-4 dark:hover:bg-gray-700"
      >
        <div class="px-6 py-8">
          <h4 class="mt-4 text-2xl font-semibold text-neutral-600 dark:text-neutral-300">
            <span class="">Control de Procesos</span>
          </h4>
          <ul id="lista-servicios" class="list-disc">
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Desarrollo de sistemas de control avanzados utilizando tecnologías
              de automatización y PLC para garantizar la precisión y la
              consistencia en la producción.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Implementación de sistemas de control de calidad en línea para
              detectar y corregir desviaciones en tiempo real.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex ">
      <div
        class="relative flex flex-col items-start m-1 duration-300 ease-in-out delay-150 transform bg-gray-400 shadow-2xl rounded-xl md:w-80 md:-ml-16 md:hover:bg-gray-100 md:hover:z-10 transition-all md:hover:translate-x-16 md:hover:-translate-y-8 p-4 dark:hover:bg-gray-700"
      >
        <div class="px-6 py-8">
          <h4 class="mt-4 text-2xl font-semibold text-neutral-600 dark:text-neutral-300">
            <span class="">Mejoramiento de la Calidad</span>
          </h4>
          <ul id="lista-servicios" class="list-disc">
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Introducción de técnicas de análisis de datos avanzadas para
              identificar patrones y tendencias que afectan la calidad del
              producto.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Implementación de sistemas de retroalimentación automática para
              corregir desviaciones y mejorar continuamente los procesos.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex ">
      <div
        class="relative flex flex-col items-start m-1 duration-300 ease-in-out delay-150 transform bg-gray-400 shadow-2xl rounded-xl md:w-80 md:-ml-16 md:hover:bg-gray-100 md:hover:z-10 transition-all md:hover:translate-x-16 md:hover:-translate-y-8 p-4 dark:hover:bg-gray-700"
      >
        <div class="px-6 py-8">
          <h4 class="mt-4 text-2xl font-semibold text-neutral-600 dark:text-neutral-300">
            <span class="">Mantenimiento Predictivo</span>
          </h4>
          <ul id="lista-servicios" class="list-disc">
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Desarrollo de sistemas de mantenimiento predictivo basados en
              análisis de datos en tiempo real de sensores IoT para prevenir
              fallos de equipos y minimizar el tiempo de inactividad.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Utilización de técnicas de inteligencia artificial para predecir
              el rendimiento y la vida útil de los equipos.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex ">
      <div
        class="relative flex flex-col items-start m-1 duration-300 ease-in-out delay-150 transform bg-gray-400 shadow-2xl rounded-xl md:w-80 md:-ml-16 md:hover:bg-gray-100 md:hover:z-10 transition-all md:hover:translate-x-16 md:hover:-translate-y-8 p-4 dark:hover:bg-gray-700"
      >
        <div class="px-6 py-8">
          <h4 class="mt-4 text-2xl font-semibold text-neutral-600 dark:text-neutral-300">
            <span class="">Soluciones de Software</span>
          </h4>
          <ul id="lista-servicios" class="list-disc">
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Diseño de sistemas SCADA personalizados para supervisar y
              controlar procesos industriales desde cualquier lugar.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Desarrollo de aplicaciones móviles para acceder a datos y realizar
              análisis en tiempo real.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex ">
      <div
        class="relative flex flex-col items-start m-1 duration-300 ease-in-out delay-150 transform bg-gray-400 shadow-2xl rounded-xl md:w-80 md:-ml-16 md:hover:bg-gray-100 md:hover:z-10 transition-all md:hover:translate-x-16 md:hover:-translate-y-8 p-4 dark:hover:bg-gray-700"
      >
        <div class="px-6 py-8">
          <h4 class="mt-4 text-2xl font-semibold text-neutral-600 dark:text-neutral-300">
            <span class="">Soluciones de Hardware</span>
          </h4>
          <ul id="lista-servicios" class="list-disc">
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Diseño y fabricación de dispositivos IoT y sensores inteligentes
              para recopilar datos de forma remota y automatizada.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Desarrollo de sistemas de control y actuadores personalizados para
              adaptarse a las necesidades específicas de cada industria.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex ">
      <div
        class="relative flex flex-col items-start m-1 duration-300 ease-in-out delay-150 transform bg-gray-400 shadow-2xl rounded-xl md:w-80 md:-ml-16 md:hover:bg-gray-100 md:hover:z-10 transition-all md:hover:translate-x-16 md:hover:-translate-y-8 p-4 dark:hover:bg-gray-700"
      >
        <div class="px-6 py-8">
          <h4 class="mt-4 text-2xl font-semibold text-neutral-600 dark:text-neutral-300">
            <span class="">Inteligencia Artificial</span>
          </h4>
          <ul id="lista-servicios" class="list-disc">
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Implementación de algoritmos de aprendizaje automático para
              predecir la demanda del mercado y optimizar la planificación de la
              producción.
            </li>
            <li class="mt-4 text-base font-normal text-gray-500 leading-relax dark:text-neutral-200">
              Utilización de sistemas de visión por computadora para
              inspeccionar la calidad del producto y detectar defectos de manera
              automatizada.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
