---
import contacts from "../../data/quienes.json";
import Servicio from "./Servicio.astro";
---

<section id="servicios" class="pt-24 lg:pt-16">
  <h2
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center"
  >
    Nuestros Servicios
  </h2>
  <div class="flex flex-wrap mx-auto p-4 justify-center lg:p-12">
    {
      contacts["servicios"].map((item)  => {
        return <Servicio 
        title={item.title}
        list_p={item.data}/>;
      }
    )}
    </div>
  </div>
</section>
